Repository heptastique/PLD_COMP, pull requests merged in 2018-03, with the labels that each got.

#40 Setting unit tests
  .travis.yml
  CMakeLists.txt
  src/Bloc.cpp
  src/Bloc.h
  src/Declaration.cpp
  src/Declaration.h
  src/Function.cpp
  src/Function.h
  src/Programme.cpp
  src/Programme.h
  tests/UnitTests/BlocTest.cpp
  tests/lib/catch.hpp
Labels: tests

#96 IR Function Prolog Generation
  main.cpp
  scripts/compile.sh
  src/BasicBlock.cpp
  src/BasicBlock.h
  src/ControlFlowGraph.cpp
  src/ControlFlowGraph.h
  src/Function.cpp
  src/Function.h
  src/IR.cpp
  src/IR.h
  src/IRInstr.cpp
  src/IRInstr.h
  src/Programme.cpp
  src/Programme.h
  tests/ASM/00-basic.s
Labels: Back

#111 Error handling class
  docs/errors.md
  src/ErrorHandling.cpp
  src/ErrorHandling.h
Labels: Errors handling
